@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-satoshi: "Satoshi";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --off-black: #15141c;
    --white-smoke: #f7fafc;
    --deep-sky-blue: #39a8e8;
    --white: #fff;
    --black: #000;
    --dark-blue: #06212d;
    --dark-blue-green: #1e3741;
    --lighter-blue-green: #24424e;
    --dark-gray: #06212dcc;
    --off-black-60: #15141c99;
    --white-smoke-60: #f7fafc99;
  }
}

body {
  color: var(--black);
  background: var(--white-smoke);
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
}
